@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
}
* {
  margin: 0;
  padding: 0;
  position: static;
  color: #374151;
}
body {
  background-color: #f5f5eb;
  max-width: 50vw;
  margin: auto;
  font-family: "Arial", sans-serif;
}
h1 {
  margin: 0.2em;
  margin-top: 0.4em;
  font-size: 2.5em;
}
input {
  display: none;
}
.bayan {
  display: flex;
  flex-direction: column;
}
.item {
  margin: 0.2em;
  margin-top: 0;
  margin-bottom: 0.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: solid #37415144;
  transition: 0.3s;
}
.data {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "a b"
    "c c";
  align-items: center;
  width: 100%;
  margin: 0;
  font-weight: bold;
  color: #035ad9;
}
.h2 {
  grid-area: a;
  margin: 0.2em;
  color: #035ad9;
  font-size: 1.5em;
  transition: 0.3s;
}
.svg {
  grid-area: b;
  scale: 0;
  transition: 0.3s;
}
.img {
  grid-area: c;
  width: 21em;
  scale: 0;
  height: 0;
  transition: 0.3s;
  justify-self: center;
}
.item:active {
  opacity: 0.7;
  transition: 0.3s;
}
.item:active .h2:first-of-type {
  color: #035ad9 !important;
  transition: 0.3s;
}
.item:active svg path:first-of-type {
  fill: #035ad9;
  transition: 0.3s;
}
.item input:checked + .data .img:last-of-type {
  height: 21em;
  scale: 1;
  transition: 0.3s;
}
.item input:checked + .data .h2:last-of-type {
  color: #374151;
}
.item input:checked + .data .svg:last-of-type {
  transform: rotate(45deg);
}
@media (min-width: 821px) {
  .item:hover,
  .data:hover {
    cursor: pointer;
  }
  .item:hover .img:last-of-type {
    height: 30em;
    scale: 1;
    transition: 0.3s;
  }
  .bayan:hover .svg:last-of-type {
    scale: 1.7;
  }
  .bayan:hover span:nth-child(1n) {
    color: #374151;
  }
  .item:hover .svg:last-of-type {
    transform: rotate(45deg);
    transition: 0.3s;
  }
}
@media (min-width: 1541px) {
  .item:hover .img:last-of-type {
    height: 21em;
  }
}

@media (max-width: 1540px) {
  body {
    max-width: 80vw;
  }
  .img {
    width: 30em;
  }
  .item input:checked + .data .img:last-of-type {
    height: 30em;
  }
  h1 {
    font-size: 2em;
  }
  .h2 {
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
@media (max-width: 625px) {
  body {
    max-width: 95vw;
  }
  .img {
    width: 17em;
  }
  .item input:checked + .data .img:last-of-type {
    height: 17em;
  }
  h1 {
    font-size: 1.7em;
  }
  .h2 {
    font-size: 1em;
  }
}
@media (max-width: 820px) {
  .svg {
    scale: 1.7;
  }
}
